@inherits LayoutComponentBase

<div class="layout-admin d-flex">
    <AdminNavMenu />

    <div class="main-content flex-grow-1 p-3">
        <header class="bg-dark text-white p-2 mb-3">
            <h4>Admin Dashboard</h4>
        </header>
        @Body
    </div>
</div>

@code {
}
