<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <NavLink class="navbar-brand" href="/">BookHub - Welcome!</NavLink>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/">Sản phẩm</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/cart">Giỏ hàng</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/profile">Tài khoản</NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>
