@inherits LayoutComponentBase

<div class="layout-user">

    <div class="main-content p-3">
        <header class="bg-light border-bottom p-2 mb-3">
        </header>

        <UserNavMenu />
        @Body
    </div>
</div>

@code {
}
